*.class

# Package Files #
*.jar
*.war
*.ear
*.txt
/Alg_ListExtract/build/
/Alg_ListExtract/dist/
/Alg_ListExtract/nbproject/private/
/Alg_ListExtract/files/lists/ 
/Alg_ListExtract/files/outLists/
/Alg_ListExtract/files/Outros_Exemplos
/Alg_ListExtract/files/lists/
/Alg_ListExtract/nbproject/private/